<h2>
Training Plan: <%= @training_plan.title %>
</h2>

<h3>
  Goal: <%= @training_plan.goal %>
</h3>


  <p>Workout Type:
    <ul>
     <% @training_plan.workouts.each do |w|%>
       <li>
         <%= w.workout_type %>
       </li>
     </ul>
  </p>

     <p>Exercise Type:
        <ul>
           <% w.exercises.each do |e| %>
          <li>
             <%= e.exercise_type %>
          </li>
          <% end %>
        </ul>
      </p>
  <% end %>
<br>



<%= link_to 'Edit Plan', edit_training_plan_path(@training_plan.id) %>

<%= link_to 'Delete Plan', training_plan_path(@training_plan.id), method: 'delete' %>
