<h2>
Training Plan: <%= @training_plan.title %>
</h2>

<h3>
  Goal: <%= @training_plan.goal %>
</h3>

 <% @training_plan.workouts.each do |w|%>
<h4>
Workout Type: <%= w.workout_type %>
</h4>
<br>
<% end %>
<%= link_to 'Edit Plan', edit_training_plan_path(@training_plan.id) %>

<%= link_to 'Delete Plan', training_plan_path(@training_plan.id), method: 'delete' %>
