<!DOCTYPE html>
<html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
</style>

  <head>
    <title>What Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>




  <body>

  <header>
    <nav>
      <div class="name">
      <h1><%= link_to "What Workout", root_path %></h1>
      </div>

      <div>
        <%= link_to 'Training Plan' %>
      </div>

      <div class="user">
      <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>

      <%= link_to 'Logout', login_path, method: 'Delete' %></div>


      <% else %>
      <div class="first"><%= link_to 'Login', login_path %>

      <%= link_to 'Sign Up', new_user_path %></div>


      <% end %>

    </nav>
    <hr>
  </header>



    <%= yield %>




    <footer>
      <hr>
      &copy; What Workout 2020
    </footer>
  </body>
</html>
