<!DOCTYPE html>
<html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
</style>

  <head>
  <meta name='image', property='og:image', content='https://ibb.co/K5c2Vx6'/>
  <meta property='og:title', content='What Workout' />
  <meta property='og:description', content='What workout is an app to motivate users to become healthier by creating a personalised workout plan where they can choose the exercises for that plan.'/>
  <meta property='og:url', content='//https://github.com/brunabdesouza/project1' />

    <title>What Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>




  <body>

  <header>
    <nav>
        <div class="name">
          <h1><%= link_to "What Workout", root_path %></h1>
        </div>

          <div class="user">
            <% if @current_user.present? %>
              Welcome, <%= @current_user.name %>

            <%= link_to 'Logout', login_path, method: 'Delete' %></div>

              <div class="my_plans">
                <%= link_to 'My Training Plans', user_path(@current_user.id) %>
              </div>

            <% else %>
              <div class="first"><%= link_to 'Login', login_path %>

            <%= link_to 'Sign Up', new_user_path %>
        </div>

          <% end %>
    </nav>
    <hr>
  </header>



    <%= yield %>




    <div class="end">
    <footer>
      <hr>
      &copy; What Workout 2020
      </div>
    </footer>
  </body>
</html>
