<!DOCTYPE html>
<html>
  <head>
    <title>What Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>




  <body>

  <header>
    <nav>
      <h1>What Workout</h1>

      <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>
      |
      <%= link_to 'Logout', login_path, method: 'Delete' %>
      <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
      <% end %>


      
    </nav>
    <hr>
  </header>



    <%= yield %>




    <footer>
      <hr>
      &copy; Be Healthy 2020
    </footer>
  </body>
</html>
